# Daten laden
yfinance
requests
python-dotenv

# Datenverarbeitung
pandas
numpy

# Sentiment Analyse
textblob

# Visualisierung
matplotlib
seaborn
plotly

# Jupyter
jupyter
notebook

# Web Scraping
beautifulsoup4
feedparser
lxml
